:root{
    --color1: #FBBC01;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
header{
    /* height: 100vh; */
    /* background: url("pho.jpg"); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
header::before{
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    display: block;
    background: rgba(0, 0, 0, 0.5);
}
header input{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 12px;
    right: 12px;
    opacity: 0;
    z-index: 2;
    cursor: pointer;
    position: fixed;
}
header input:checked ~ .menu-icon .menu-line::before{
    transform: rotate(90deg);
    top: 0;
}
header input:checked ~ .menu-icon .menu-line::after{
    transform: rotate(90deg);
    top: 0;
}
header input:checked ~ .menu-icon .menu-line{
    transform: rotate(135deg);
    transition: 0.3s;
}
header input:checked ~ .menu-item{
    left: 0;
}
.menu-icon{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 12px;
    right: 12px;
    opacity: 1;
    z-index: 1;
    cursor: pointer;
    position: fixed; 
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-line{
    height: 4px;
    width: 100%;
    background: var(--color1);
    position: relative;
}
.menu-line::before{
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    position: absolute;
    background: var(--color1);
    top: -14px;
}
.menu-line::after{
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    position: absolute;
    background: var(--color1);
    top: 14px;
}
.menu-item{
    position: fixed;
    width: 300px;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    top: 0;
    left: -100%;
    display: flex;
    justify-content: center;
    text-align: center;
    z-index: 10;
    flex-direction: column;
    transition: 0.5s;
}
.menu-item li {
    line-height: 40px;
}
.menu-item li a{
    color: var(--color1);
}


/* Start Component Banner */
.banner {
    position: relative;
    margin-bottom: 20px;
}
.banner .img-banner {
    width: 100%;
}

.banner .img-banner img {
    width: 100%;
    height: 600px;
    object-fit: cover;
}
.banner .header-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.banner .header-text h1{
    font-size: 50px;
    color: var(--color1);
    margin-bottom: 20px;
    text-align: center;

}
.banner .header-text .btn-green,
.banner .header-text .btn-white {
    margin: 0 10px;
}

.banner .header-text .btn-green {
    background: rgb(108, 190, 97);
    color: #fff;
}
.banner .header-text .btn-white {
    background: #fff;
    color: black;
}
.banner .texta{
    margin-top: 100px;
}
/* End Component Banner */

/* common */
.button {
    border: none;
    padding: 15px 40px;
    border-radius: 20px;
    font-size: 20px;
    cursor: pointer;
}
/* ---------phan2------- */
.container {
    width: 100%;
    padding: 0 50px;
}
.list-item {
    display:flex;
    flex-wrap:wrap;
}
.list-item .item {
    width: 50%;
    display: flex;
    margin-bottom: 50px;
}
.list-item .item .img {
    width: 33.333%;
}
.list-item .item .img img {
    max-width: 100%;
}
.list-item .item .content-right {
    width: 66.666%;
}
.content-right{
    padding-left: 20px;
}
.name{
    padding-bottom: 20px;

}
.price{
    padding-bottom: 20px;
    font-size: 30px;
    font-weight: bold;
}
.content{
    padding-bottom: 20px;
}
.img-from{
    text-align: center;
    margin-bottom: 15px;
    font-size: 25px;
}
/* -----phan3----- */
.cream{
    width: 100%;
    background-color: greenyellow;
    display: flex;
}
.left{
    width: 50%;;
}
.content-left{
    padding: 90px 0 70px 70px;
}
.img-right{
    width: 50%;
}
.title{
    padding-bottom: 30px;
    font-weight: bold;
    color: white;
}
.text-content{
    padding-bottom: 30px;
}
.text-content-image{
    padding-bottom: 30px;
}
.btn-green {
    background: white;
    color: black;
}
.text-content-image a{
    text-decoration: underline;
    color: blue;
}
.title{
    font-size: 30px;
}
.img-right img{
    width: 100%;
    height: 500px;
    object-fit: cover;
}
/* -------phan4------- */
.freshfood{
    width: auto;
    background-color: white;
    display: flex;
}
.left-food{
    width: 50%;
}
.content-freshfood{
    justify-content: space-between;
    padding: 90px 0px 70px 70px;
    flex-wrap: wrap;
}
.freshfood-left{
    margin-bottom: 20px;
    font-size: 30px;
}
.sale-off{
    width: 150px;
    height: 150px;
    background-color: yellowgreen;
    color: white;
    border-radius: 50%;
    line-height: 150px;
    text-align: center;
    font-size: 25px;
    margin-bottom: 30px;
}
.left-content-title{
    margin-bottom: 20px;
    font-size:20px;
}
.left-content-text{
    margin-bottom: 20px;
    color: slategrey;
}
.footter{
    background-color: slategray;
    width: 100%;
    height: auto;
    text-align: center;
}
.sampletext{
    padding-top: 20px;
    margin-bottom: 30px;
}
.end{
   padding-bottom: 20px;
}